/* Global style for mobile */
.contact {
    background: url(../Images/genoa-956405_1920-min.jpg);
    background-size: cover;
    background-position: center; 
}
.booking {
    background: url(../Images/mavis-cw-164128-min.jpg);
}
.contact, .booking {
    background-size: cover;
    background-position: center; 
}
label {
    text-transform: capitalize;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
input, select, textarea {
    padding: 7px 0px;
    border-radius: 10px;
    text-indent: 10px;
}
.contact_cta {
    padding: 30px;
}
select {
    background-color: var(--bright_mint);
}
i {
    color: var(--mint);
    font-size: 40px;
    margin: 20px 0px 50px;
}
.contact_success {
    text-align: center;
}

.phone_number {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Tablet */
@media only screen and (min-width: 641px) {
    label {
        margin-top: 30px;
    }
    input, select, textarea {
        padding: 15px 0px;
        text-indent: 15px;
    }
    .contact_cta {
        padding: 40px 30px;
    }
    select, input {
        font-size: 20px;
    }
    i {
        font-size: 50px;
        margin: 20px 0px 70px;
    }
}

/* large tablet */ 
@media only screen and (min-width: 900px) {
    .contact_form {
        width: 70%;
        margin: auto;
    }
    label {
        margin-top: 40px;
    }
    input, select, textarea {
        padding: 20px 0px;
    }
    .contact_cta {
        padding: 50px 30px;
    }
    i {
        font-size: 70px;
        margin: 30px 0px 80px;
    }
}

/* Desktop */
@media only screen and (min-width: 1201px) {
    .contact_form {
        width: 60%;
    }
    label {
        margin-top: 50px;
    }
    input, select, textarea {
        padding: 25px 0px;
        text-indent: 20px;
    }
    .contact_cta {
        padding: 80px 30px;
    }
    select, input {
        font-size: 25px;
    }
    i {
        font-size: 100px;
        margin: 40px 0px 100px;
    }
}