/* Global style for mobile */
:root{
    --mint: #34BA99;
    --dark_green: #21562A;
    --green: #3FA752;
    --bright_green: #D9EDDC;
    --bright_mint: #E1F5F0;
    --orbitron: 'Orbitron', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --nunito: 'Nunito', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --roboto: 'Roboto', Arial, Verdana, Tahoma, Georgia, sans-serif;
}
body{
    font-family: var(--nunito);
    color: black;
    font-size: 12px;
    line-height: 200%;
}
header img, footer img {
    max-width: 102px;
}
main img{
    width: 100%;
}
a{
    text-decoration: none;
}
.header_nav{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 10px;
}
header li{
    display: inline;
    padding: 10px;
    text-transform: capitalize;
}
ul{
    padding: 0px;
}
header a, footer a{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 13px;
}
header a{
    color: var(--dark_green);
}
footer a{
    color: white;
}
.active, header a:hover, footer a:hover{
    text-decoration: underline;
}

.header_banner{
    display: flex;
    justify-content: flex-end;
    background-color: var(--bright_green);
    color: var(--dark_green);
}
.header_banner > * {
    padding: 0px 10px;
}
.time{
    font-size: 10px;
}
.header_banner span{
    text-transform: uppercase;
    color: white;
    background-color: var(--dark_green);
    margin-right: 5px;
    padding: 2px 5px;
    font-weight: bold;
}

.home {
    background: url(../Images/jesse-orrico-60373-min.jpg);
    background-position-x: right;
    background-position-y: top;  
    background-size: cover;
    position: relative;
}
.cover {
    background-repeat: no-repeat;
    min-height: 250px; 
}
.cover_content {
    position: absolute;
    font-family: var(--roboto);
    color: var(--dark_green);
    text-align: center;
    font-size: 15px;
    top: 20%;
    left: 10%;
}
.cover_content span {
    display: block;
    font-family: var(--orbitron);
    font-size: 30px;
    font-weight: 900;
}
.cta{
    font-size: 13px;
    font-weight: 500;
    color: black;
    background-color: var(--mint);
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px;
    text-transform: capitalize;
}

h1 {
    text-transform: capitalize;
    font-family: var(--orbitron);
    font-weight: 700;
    font-size: 20px;
    padding: 30px 0px;
    text-align: center;
    color: var(--dark_green);
}
h2, h3{
    text-transform: capitalize;
    font-family: var(--roboto);
}
h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--dark_green);
    margin: 0px;
    background-color: var(--bright_mint);
    padding: 5px 30px;
}
h3{
    font-size: 13px;
    background-color: var(--dark_green);
    text-align: center;
    margin: 10px 0px;
    font-weight: 500;
    color: white;
    padding: 5px;
}

.explore{
    margin-bottom: 70px;
}

.explore_title, .explore_content{
    display: flex;
    justify-content: center;
}

.explore_title > *, .explore_content > * {
    align-self: center;
    margin: 0px 5px;
}
.explore_title, .special_event {
    background-color: var(--bright_mint);
}
main span{
    font-size: 14px;
    font-weight: bold;
}
p, .explore ul {
    padding: 0px 30px;
}

/* special event */
.white_background {
    background-color: white;
    padding: 10px 30px ;
}
.event_title{
    width: 70%;
}

.event_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
.event_content img{
    width: 85%;
}
.event{
    padding-bottom: 20px;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    background-color: var(--dark_green);
    justify-content: center;
    color: white;
    padding: 10px;
    column-gap: 30px;
  
}
footer p{
    font-size: 8px;
    grid-column: 1/span3;
    text-align: center;
}
footer li{
    list-style-type: none;
    text-transform: capitalize;
}
.get_involved li{
    font-size: 8px;
    padding-bottom: 5px;
}
.footer_nav li{
    padding-bottom: 10px;
}
footer img{
    background-color: white;
    margin-top: 15px;
}
.exhibition {
    background: url(../Images/learn-2405206_1920-min.jpg);
    background-size: cover;
    background-position-x: left;
    background-position-y: top;  
}
.exhibition_spaces, .exhibition_intro {
    background-color: var(--dark_green);
    padding: 15px;
    margin: 20px 0px;
}
.exhibition_item {
    margin-bottom: 40px;
}
.exhibition_intro {
    color: white;
}



/* Tablet */
@media only screen and (min-width: 641px) {
    body{
        font-size: 20px;
        padding: 0px 20px;
    }
    header img, footer img {
        max-width: 135px;
    }
    .header_nav{
        gap: 20px;
    }
    header li{
        padding: 15px;
    }
    header a, footer a{
        font-size: 20px;
    }
    .header_banner > * {
        padding: 0px 15px;
    }
    .header_banner span{
        font-size: 15px ;
    }
    .time {
        font-size: 13px;
    }
    .cover {
        min-height: 400px;   
    }
    .cover_content {
        font-size: 25px;
        line-height: 200%;
    }
    .cover_content span {
        font-size: 45px;
    }
    .cta{
        font-size: 20px;
        padding: 5px 20px;
    }
    
    h1 {
        font-size: 30px;
        padding: 40px 0px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
        margin: 20px 0px;
    }
    .explore{
        margin-bottom: 90px;
    }
    .explore_content {
        padding: 10px;
    }
    .explore_title > *, .explore_content > * {
        margin: 0px 10px;
    }
    main span{
        font-size: 25px;
    }
   
    
    /* special event */
    .white_background{
        padding: 10px 40px ;
    }
    .event{
        padding-bottom: 50px;
    }

    footer{
        padding: 20px;
        column-gap: 70px;
    }
    footer p{
        font-size: 15px;
    }
    .get_involved li{
        font-size: 15px;
    }
    .footer_nav li{
        padding-bottom: 10px;
    }
    footer img{
        margin-top: 30px;
    }
}

/* large tablet */ 
@media only screen and (min-width: 900px) {
    .cover {
        min-height: 500px;
    }
    .cover_content {
        font-size: 30px;
    }
    .cover_content span {
        font-size: 60px;
    }
    .white_background {
        grid-column: 1/ span 2;
    }
    .event{
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .event_title {
        width: 90%;
        align-self: center;
    }
    .event_content {
        display: flex;
        flex-direction: column;
    }
    .special_event {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .special_event img {
       max-height: 450px;
    }
    .exhibition_intro {
        padding: 30px;
        
    }
    h3{
        padding: 7px;
    }
    h2 {
        padding: 7px 30px;
    }
   
}

/* Desktop */
@media only screen and (min-width: 1201px){
    body{
        font-size: 25px;
        max-width: 1280px;
        margin: auto;
        padding: 0px 50px;
    }
    header img, footer img {
        max-width: 200px;
    }
    .header_nav{
        gap: 50px;
    }
    header li{
        padding: 30px;
    }
    header a, footer a{
        font-size: 30px;
    }

    .header_banner > * {
        padding: 0px 30px;
    }
    .header_banner span{
        font-size: 25px ;
    }
    .time {
        font-size: 20px;
    }
    .cover {
        min-height: 850px;   
    }
    .cover_content {
        font-size: 40px;
    }
    .cover_content span {
        font-size: 80px;
    }
    .cta {
        font-size: 30px;
        padding: 10px 30px;
    }
    
    h1 {
        font-size: 40px;
        padding: 80px 0px;
    }
    h2 {
        font-size: 35px;
        padding: 10px 30px;
    }
    h3 {
        padding: 10px;
    }
    .explore {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding-bottom: 100px;
    }
    .explore_image {
        grid-row: 1/ span2;
        align-self: center;
    }
   
    .explore_title > * {
        margin: 0px 20px;
    }
    .explore_content {
        flex-direction: column;
        row-gap: 20px;
    }
    main span {
        font-size: 30px;
    }
   
    
    /* special event */
    .white_background {
        grid-column: 1/ span 3;
    }
    .event{
        padding-bottom: 100px;
    }
  
    .special_event {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 20px;
    }
    .special_event span {
        font-size: 25px;
    }
    .special_event .cta {
        font-size: 20px;
    }
    .special_event img {
       max-height: 500px;
    }
    footer{
        padding: 20px;
        column-gap: 100px;
    }
    footer p{
        font-size: 20px;
    }
    .get_involved li{
        font-size: 20px;
    }
    .footer_nav li{
        padding-bottom: 30px;
    }
    footer img{
        margin-top: 40px;
    }
}