/* Global style for mobile */
:root{
    --mint: #34BA99;
    --dark_green: #21562A;
    --green: #3FA752;
    --bright_green: #D9EDDC;
    --bright_mint: #E1F5F0;
    --orbitron: 'Orbitron', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --nunito: 'Nunito', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --roboto: 'Roboto', Arial, Verdana, Tahoma, Georgia, sans-serif;
}

a{
    text-decoration: none;
}
.header_nav{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 10px;
}
header li{
    display: inline;
    padding: 10px;
    text-transform: capitalize;
}
header ul, footer ul{
    padding: 0px;
}
header a, footer a{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 13px;
}
header a{
    color: var(--dark_green);
}
footer a{
    color: white;
}
.active_header, header a:hover, footer a:hover{
    text-decoration: underline;
}
body{
    font-family: var(--nunito);
    color: black;
    font-size: 12px;
}

header img, footer img {
    max-width: 102px;
}
   
.header_banner{
    display: flex;
    justify-content: flex-end;
    background-color: var(--bright_green);
}
.header_banner > * {
    padding: 0px 10px;
}
.header_banner span{
    text-transform: uppercase;
    color: white;
    background-color: var(--dark_green);
    margin-right: 5px;
    padding: 2px 5px;
    font-weight: bold;
    
}
.header_banner p{
    font-family: var(--nunito);
    color: var(--dark_green);
    align-self: center;
}
.time{
    font-size: 10px;
}
.home_cover {
    background: url(../Images/jesse-orrico-60373-min.jpg);
    background-size: cover;
    background-position-x: right;
    background-position-y: top;  
    width: 100%; 
    min-height: 248px;
    
}

.cover_content p{
    text-transform: capitalize;
    font-weight: 500;
}

.cover_content {
    position: absolute;
    top: 27% ;
    padding-left: 25px;
    width: 40%;
}
.cta{
    font-family: var(--nunito);
    font-size: 13px;
    font-weight: 500;
    color: black;
    background-color: var(--mint);
    padding: 5px 15px;
    border-radius: 10px;
}
@media only screen and (max-width: 270px ) {
.header_banner,  .cover_content p{
    display: none;
}

}
h1 {
text-transform: capitalize;
font-family: var(--orbitron);
font-weight: 700;
font-size: 20px;
padding: 30px 0px;
text-align: center;
color: var(--dark_green);
}
h2{
    text-transform: capitalize;
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
    color: white;
    
}
h3{
    text-transform: capitalize;
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 13px;
    margin: 0px;
    color: white;
    background-color: var(--dark_green);
    text-align: center;
    padding: 7px;
    margin: 10px 0px;
}
main img{
    width: 100%;
}
.explore_title{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.mint{
    background-color: var(--mint);
}

.explore_title > * {
    align-self: center;
    margin: 0px 5px;
}
main span{
    font-size: 14px;
    font-weight: bold;
}
.explore{
    margin-bottom: 70px;
}
.explore_title ul{
    padding: 0px;
}
.school_tour_content{
    padding-left: 20px ;
}
/* special event */
.dark_green{
    color: var(--dark_green);
    background-color: white;
    padding: 10px 30px ;
}
.event_title{
    width: 70%;
}

.special_event{
    background-color: var(--bright_mint);
  
}
.event_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
.event_content img{
    width: 85%;
}
.event{
    padding-bottom: 20px;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    background-color: var(--dark_green);
    justify-content: center;
    color: white;
    padding: 10px;
    column-gap: 30px;
  
}
footer p{
    font-size: 8px;
    grid-column: 1/span3;
    text-align: center;
}
footer li{
    list-style-type: none;
    text-transform: capitalize;
}
.get_involved li{
    font-size: 8px;
    padding-bottom: 5px;
}
.footer_nav li{
    padding-bottom: 10px;
}
footer img{
    background-color: white;
    margin-top: 15px;
}