/* Global style for mobile */
.visit {
    background: url(../Images/scott-webb-102825-min.jpg);
}
.cosmology {
    background: url(../Images/Cosmology.jpg); 
}
.evolution {
    background: url(../Images/Evolution.jpg); 
}
.biology {
    background: url(../Images/biology.jpg);
}
.robotics {
    background: url(../Images/robotic.jpg);
}
.visit, .cosmology, .evolution, .biology, .robotics {
    background-size: cover;
    background-position: center; 
}
section {
    margin-bottom: 50px;
}
.guided_tour {
    display: flex;
    flex-direction: column;
}
.tour_cta {
    text-align: center;
}
.accessibility {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.accessibility h2 {
    grid-column: 1/ span 2;
}
.accessibility p {
    padding: 0px 20px;
}

/* large tablet */ 
@media only screen and (min-width: 900px) {
    .visit_content {
        display: flex;
        column-gap: 40px;
    }
    .visit_content > * {
        flex: 1;  
    }
    .shop {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .shop h2 {
        grid-column: 1 / span 2;
    }
}

/* Desktop */
@media only screen and (min-width: 1201px) {
    .tour_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .tour_content img {
        grid-row: 1 / span 4;
    }
}
